{% extends 'base.html.twig' %}

{% block title %}Hello PotterController!{% endblock %}

{% block body %}
    <h1> The sorting hat frowns and sorts you in the house of: </h1>
    <h2>{{ content}}</h2>

{% endblock %}
