{% extends 'base.html.twig' %}

{% block title %}Hello PotterController!{% endblock %}

{% block body %}
    {% for cont in content  %}
        <h1>{{ cont.name }}</h1>
        <h2>{{ cont.effect }}</h2>
<P>------------------------</P>
    {% endfor %}
{% endblock %}

